.header-area {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   margin-top: 20px;
   z-index: 300;
   -webkit-transition-duration: 500ms;
   transition-duration: 500ms;

   &.navbar {
      height: 55px;
      border-bottom: 1px solid;
      border-color: #ffffff;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;

      &.navbar-nav {
         margin-right: 50px;

         &.nav-link {
            padding: 0.5em 1em;

            &:hover,
            &:focus {
               color: #ffffff;
            }
         }
      }

      &.dropdown-menu {
         padding-top: 5px;
         border: none;
         border-radius: 3px;
         box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
      }
   }

   &.sticky {
	   margin-top: 0;
      background-color: #000000;
	   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

       &.navbar {
         border-color: #000000;
      }
   }
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	cursor: pointer;
}

