.mainArea {
	padding: 100px 0;
}

.postContent {
	margin-bottom: 50px;
}

.category .navTabs {
	padding: 10px 0;
	border-bottom: 2px solid #f1f1f1;
}

.category .navTabs .title {
	margin-bottom: 0;
	margin-right: auto;
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight: 700;
}
